<h1>Prediction#show_area</h1>
<p>Find me in app/views/prediction/show_area.html.erb</p>

<%= @lat %>
<%= @long %>
<%= @period %>


<% if !@bad_lat_long %>





<% else %>
  <h2>
    Invalid lat/long. See README
  </h2>
<% end %>
