<h1>Prediction#show</h1>
<p>Find me in app/views/prediction/show.html.erb</p>
<%= @post_code %>
<%= @period %>
<%= @bad_post_code %>



<% if !@bad_post_code %>

  



<% else %>
  <h2>
    Invalid postcode. See README
  </h2>
<% end %>
